<paper-toolbar>
  <!--<paper-icon-button icon="menu" on-tap="menuAction"></paper-icon-button>-->
  <paper-menu-button>
    <paper-icon-button icon="menu" class="dropdown-trigger"></paper-icon-button>
    <paper-menu class="dropdown-content">
      <paper-item  [routerLink]=" ['./'] ">Home</paper-item>
      <paper-item  [routerLink]=" ['./about'] ">about</paper-item>
    </paper-menu>
  </paper-menu-button>
  <div class="title">Angular2 + Polymer + Router + API Service Provider: BoilerPlate App</div>

  <!--<paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>-->

</paper-toolbar>
<!--<iron-icon icon="check"></iron-icon>-->


<router-outlet></router-outlet>
