<!--<paper-toolbar class="tall">-->
  <!--<paper-icon-button icon="menu"></paper-icon-button>-->
  <!--<span class="title">Title</span>-->
<!--</paper-toolbar>-->

<!--<app-header-layout has-scrolling-region>-->
  <!--<app-header fixed>-->
    <!--<app-toolbar>-->
      <!--<paper-icon-button icon="menu"></paper-icon-button>-->
      <!--<div title spacer>All heroes</div>-->
    <!--</app-toolbar>-->
  <!--</app-header>-->
  <!--<div>My application content</div>-->
<!--</app-header-layout>-->

<iron-icon icon="maps:directions-bus"></iron-icon>
<h1>
  BoilerPlate App
</h1>


<router-outlet></router-outlet>
